* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 2rem;
  position: fixed;
  bottom: 0;
  background-color: lightgrey;
}

header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding-left: 2rem;
  width: 100vw;
  background-color: black;
  color: white;
}

/* disable basic button styling */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 3px;
}

button:hover {
  opacity: .8;
}

button:active {
  transform: translateY(3px);
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fbfbfb;
  width: 15rem;
  height: 16rem;
  margin: 1.5rem;
  border: 1px solid lightgrey;
  border-radius: .5rem;
}

.placesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 40rem;
}

.bigButton {
  border: 1px solid #7fe0b2;
  background-color: #4cf0a1;
  width: 7rem;
  height: 2.5rem;
}

.smallButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.smallButton {
  height: 2.5rem;
  width: 4.5rem;
}

.workButton {
  background-color: #4c70f0;
  color: #e6ebfc;
}

.bankButton {
  background-color: #edf04c
}

.buyButton {
  background-color: #4cc9f0;
}

.numbersContainer {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.storeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.storeSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.5rem;
  width: 51rem;
}

#laptopSpecs {
  list-style: none;
  align-self: flex-start;
}
